.container {
   padding: 0;
}

.row {
   margin: 0;
   padding: 0;
}

ul > li {
   display: inline-block;
}

img {
   user-select: none;
}

.page-light {
   background-color: #ffffff;
}

.page-dark {
   background-color: #f4f4f4;
}

.content-dark {
   background-color: #ff408c;
}

.custom-border {
   border: 2px solid #ff408c;
}

.custom-button {
   background-color: #ff408c;
   padding: 15px 35px !important;
   border: 0;
   outline: 0;
   border-radius: 10px;
   color: white;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.content-light {
   background-color: #feeae9;
   border-radius: 20px;
   padding: 60px !important;
}

.custom-color {
   color: #ff408c;
}

.custom-button svg {
   font-size: 20px;
   color: inherit;
}

.custom-button:hover {
   opacity: 0.9;
   color: white;
}

.category {
   box-shadow: inset 0 0 2rem rgba(255, 0, 0, 0.1);
}

.rounded-5 {
   border-radius: 20px;
}

@media screen and (min-width: 1700px) {
   .container {
      max-width: 1500px !important;
   }

   .my-5 {
      margin: 80px 0 !important;
   }
}

@media screen and (max-width: 576px) {
   section {
      padding-left: 10px !important;
      padding-right: 10px !important;
   }
}
